{% extends 'main.html' %} 

{% block content %}

<style>
    .post-container{
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
</style>

<h2>Community Forum</h2>

<h1>{{post.title}}</h1>
<h4> Posted by <a href="{% url 'user-profile' post.user.id %}">@{{post.user}} </a> {{post.created|timesince}} ago</h4>
{% if post.project %}
    <h4>
        Post linked to Project: 
        <a href="{% url 'project' post.project.id %}">{{ post.project }}</a>
    </h4>
{% endif %}
<hr>
<div class="post-container">
    <div>
        <p>{{post.body}}</p>
        {% if request.user == post.user %}
            <a href="{% url 'delete-post' post.id %}"> Delete Post? </a>
            <a href="{% url 'update-post' post.id %}"> Edit Post? </a>
        {%endif%}
    </div>
    <div>
        <h2>Comments</h2>
        {% for comment in post_comments %}
      <div>
            <small><a href="{% url 'user-profile' comment.user.id %}">@{{comment.user}} </a> {{comment.created|timesince}} ago </small>
            {% if request.user == comment.user %}

            <a href="{% url 'delete-comment' comment.id %}"> Delete </a>

            {%endif%}

            <p>{{comment.body}}</p>

      </div>
        {% endfor %}

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="body" placeholder="Add Comment..." />
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}