{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; 
        gap: 20px; 
    }

    .map-container {
        width: 100%;
        height: 500px; 
    }

    .projects-container {
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .project-item {
        margin-bottom: 20px;
    }

    .project-item h4 {
        margin: 0;
    }

    .project-item p {
        margin: 10px 0;
    }

    .project-item hr {
        margin-top: 15px;
    }

</style>


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="home-container">
    <div>
        <h3>Browse Zones</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for zone in zones %}
            <div>
                <a href="{% url 'home' %}?q={{zone.name}}">{{zone.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h3>Explore Belfast</h3>
        <hr>
        <div id="map" class="map-container"></div>
    </div>

    <div class="projects-container">
        <h3>Projects</h3>
        <hr>
        <a href="{% url 'create-project' %}">Create a Project</a>

        <div>
            {% for project in projects %}
                <div class="project-item">
                    <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
                    <h5>Created by <a href="{% url 'user-profile' project.host.id %}">@{{project.host.username}}</a> {{project.created|timesince}} ago</h5>
                    <p>{{project.description}}</p>
                    <small>{{project.zone.name}}</small>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    var map = L.map('map').setView([54.597, -5.930], 13);  // Coordinates for Belfast

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
</script>

{% endblock content %}
