
{% extends 'main.html' %} 
{% load static %}

{% block content %}

<style>
  .project-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
  }

  .message-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

  }

  .message-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #c7e6c0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .comment-form input {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .map-container {
    margin-top: 20px;
    width: 100%;
    height: 600px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #eaeaea; 
  }
  
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

  <h1>{{project.name}}</h1>
  <h3> Project Hosted by <a href="{% url 'user-profile' project.host.id %}">@{{project.host.username}} </a> in {{project.zone}}</h3>
  <div class="project-container">
  <div>
    <p>{{project.description}}</p>

    <div id = 'map' class="map-container">

      {{ coordinates|json_script:"coordinates_json" }}
      <p> {{coordinates}} </p>
      <!-- <script src="{% static 'js/project_map.js' %}"></script> -->
      <script>

        let coordinates = JSON.parse(document.getElementById("coordinates_json").textContent)

        var map = L.map('map').setView([coordinates[0].y, coordinates[0].x], 15); // defaultd coords atm for test project

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        coordinates.forEach(coordinate => {
        L.marker([coordinate.y, coordinate.x]).addTo(map)

        })
      </script>

    </div>
    <hr>
    {% if request.user == project.host %}
    <a href="{% url 'delete-project' project.id %}"> Delete This Project? </a>
    <a href="{% url 'update-project' project.id %}"> Update This Project? </a>
    {%endif%}

  </div>
  <div>
    <h3>Conversation</h3>
    <div class="message-container">
      {% for message in project_messages %}
        <div class="message-item">
          <small>
            <a href="{% url 'user-profile' message.user.id %}">@{{ message.user }}</a> 
            {{ message.created|timesince }} ago
          </small>
          {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
          {% endif %}
          <p>{{ message.body }}</p>
        </div>
      {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write message here..." />
      </form>
    </div>
    {% endif %}
  </div>

  <div>
    <h3>Participants</h3>
    {% for user in participants %}

    <div>
      <p><a href="{% url 'user-profile' user.id %}">@{{user.username}}</a></p>
    </div>

    {% endfor %}
  </div>
</div>

<script src="{% static 'js/project_map.js' %}"></script>

{% endblock content %}
